<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="jobboard-jquery-ui" href="EXT:jobboard/Resources/Public/Css/jquery-ui.min.css"/>
<f:asset.css identifier="jobboard-style" href="EXT:jobboard/Resources/Public/Css/style.css"/>

<f:asset.script identifier="jobboard-jquery-ui" src="EXT:jobboard/Resources/Public/JavaScript/jquery-ui.min.js"/>
<f:asset.script identifier="jobboard-datatables" src="EXT:jobboard/Resources/Public/JavaScript/datatables.min.js"/>
<f:asset.script identifier="jobboard-cookiejs" src="EXT:jobboard/Resources/Public/JavaScript/js.cookie-2.2.1.min.js"/>
<f:asset.script identifier="jobboard-script" src="EXT:jobboard/Resources/Public/JavaScript/script.js"/>
</html>
