<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="table-responsive">
    <table class="dataTable">
        <thead>
        <tr>
            <th>{f:translate(key: 'job.title')}</th>
            <th>{f:translate(key: 'job.ending_date')}</th>
            <th>{f:translate(key: 'job.address.zip')}</th>
            <th>{f:translate(key: 'job.address.city')}</th>
            <th>{f:translate(key: 'job.employer')}</th>
            <th>{f:translate(key: 'job.job_type.title')}</th>
            <th class="rememberJob">{f:translate(key: 'remember')}</th>
        </tr>
        </thead>

        <tbody>
        <f:for each="{objects}" as="job">
            <tr data-jobboard-uid="{job.uid}">
                <f:render partial="Job/TitleLink" arguments="{job: job}"/>
                <f:render partial="Types/Date" arguments="{value: job.endingDate, format: 'd.m.Y'}"/>
                <f:render partial="Types/Text" arguments="{value: job.address.zip}"/>
                <f:render partial="Types/Text" arguments="{value: job.address.city}"/>
                <f:render partial="Types/Text" arguments="{value: job.employer}"/>
                <f:render partial="Types/Text" arguments="{value: job.jobType.title}"/>
                <td data-sort="0"><input type="checkbox" name="remember_job" value="{job.uid}"></td>
            </tr>
        </f:for>
        </tbody>
    </table>
</div>
</html>
